.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.checkbox_wrapper{ 
  display: flex;
  flex-direction: column;
}

.all_checkbox__wrapper{
  display: flex;
}

.single_checkbox_wrapper {
  margin-top: 20px;
  display: flex;
}

.all_input {
  font-size: 16px;
}
.single_input{
  font-size: 16px;

}